body{
  background-color: lavender;
  width: 900px;
  margin: auto;
}
h1 {
    text-align: center;
}
table.add, td {
    text-align:left;
    font-weight: bold;
}

table.add, textarea {
    resize: none;
}

table.message,td {
    text-align:left;
    
}
table.message,div {
    text-align:right;
    
}

.url {
    text-align: left;
    
}
#addform {
    background: url("form-fieldset.gif") repeat-x scroll left bottom #F8FDEF;
    border: 1px solid #DFDCDC;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 25px 50px 10px;
    width: 410px;
    //position: absolute; 
}
 
#addform .fieldgroup {
    background: url("form-divider.gif") repeat-x scroll left top transparent;
    display: inline-block;
    padding: 8px 10px;
    width: 410px;
}
 
#addform .fieldgroup label {
    float: left;
    padding: 15px 0 0;
    text-align: right;
    width: 110px;
}
 
#addform .fieldgroup input, #addform .fieldgroup textarea, #addform .fieldgroup select {
    float: right;
    margin: 10px 0;
    height: 25px;
}
 
#addform .submit {
    padding: 10px;
    width: 220px;
    height: 40px !important;
}
 
#addform label.error {
    color: red;
    display: table-header-group;
    margin: 4px 0 5px 125px;
    padding: 0;
    text-align: left;
    width: 220px;
}

